{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.email %}
      <li><a href="mailto:{{ site.author.email }}" title="Email" aria-label="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
    {% endif %}
    
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}" title="GitHub" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a></li>
    {% endif %}
    
    {% if site.author.linkedin %}
      <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
    {% endif %}
    
    {% if site.author.googlescholar %}
      <li><a href="{{ site.author.googlescholar }}" title="Google Scholar" aria-label="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a></li>
    {% endif %}
    
    {% if site.author.orcid %}
      <li><a href="{{ site.author.orcid }}" title="ORCID" aria-label="ORCID"><i class="ai ai-orcid" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}<br />
  Site last updated {{ "now" | date: '%Y-%m-%d' }}
</div>
